header{
    padding: 2rem;
    .header-section{
        @include flexBox();
        h3{
            color: $primary-color;
            font-size: 24px;
        }
        nav{
            ul{
                @include flexBox();
                gap: 2rem;
             li{
                a{
                    color: $color-gray;
                    font-size: 14px;
                    font-weight: 600;
                }
             }
        }
    }
    .fa-cart-shopping{
       visibility: hidden;
       color: $color-gray;
       font-weight: 25px;
    }
    .fa-magnifying-glass{
        visibility: hidden;
        color: $color-gray;
        font-weight: 25px;
    }
    @media screen and (max-width:767px){
        .header-section{
            nav{
                ul{
                    display: none;
                }
            }
            .fa-cart-shopping{
                display: block;
            }
            .fa-magnifying-glass{
                display: block;
            }
        }
    }
    }
}