* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* Header */
.btn {
  background-image: url(./image\ 3.svg);
  background-position: center;
  background-size: cover;
}
.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header nav ul {
  display: flex;
  gap: 20px;
}
.header nav ul li a {
  color: white;
}
.icons i{
  display: none;
}
@media screen and (max-width: 767px){
    .icons i{
        display: block;
        color: white;
        font-size: 20px;
    }
    .header nav ul {
       display: none;
      }
      .icons img{
        display: none;
      }
      
}
/* Section */
#section {
  height: 100vh;
}
.inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxes {
    text-align: center;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.boxes h1 {
  margin: 30px;
  font-size: 3rem;
}
.boxes p {
    font-size: 18px;
    max-width: 500px;
}
.boxes h1,
.boxes p {
  margin-bottom: 30px;
  color: white;
}
.form {
  position: relative;
}
.form input {
  padding: 10px;
  border-radius: 15px;
  outline: none;
  border: 1px solid white;
}
.form i {
  position: absolute;
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  color: gray;
  top: 5px;
  right: 0;
}


/* Section Two */
.section-two h1{
  font-size: 36px;
  margin: 50px;
  color: #564E4E;
}

.box-2{
  display: flex;
}
.box-2 .section-box:nth-child(1){
  box-shadow: 3px 3px 5px #F79489;
  border-radius: 3px;
}
.section-box{
  padding: 20px;
}

.section-box h2, .section-box p{
  color: #564E4E;
  padding: 10px;
}
.section-box a{
  color: #F79489;
  font-size: 18px;
}
@media screen and (max-width:767px){
  .section-two h1{
    display: none;
  }
  .box-2{
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}

/* Section Three */
.left , .right{
  width: 50%;
}
.section-three{
  margin-top: 80px;
  display: flex;
}
.group{
  padding: 30px;
}
.right img{
  width: 100%;
}
.left{
  padding: 30px;
}
.left h1, .left p{
  color: #564E4E;
}
.left h1{
  font-size: 36px;
  padding: 10px;
}
.left a{
  color: #F79489;
  font-size: 20px;
  /* padding: 15px; */
}

@media screen and (max-width:767px){
  .section-three{
    flex-direction: column-reverse;
    align-items: center;
  }
}

/* Section Four */
.heading{
  text-align: center;
  color: #564E4E;
  font-size: 36px;
  line-height: 72px;
}
.left-2{
  display: flex;
  padding: 50px;
}
.table-1 img{
  width: 100%;
}
.right-2{
  display: flex;
  padding: 50px;
 
}
.table{
  display: flex;
}
@media screen and (max-width:767px){
  .table{
    flex-direction: column;
  }
}
/* 
Footer */
footer{
  background-color: black;
  /* height: 50vh; */
}
.footer{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
padding: 30px;
  color:  #FADCD9;
  margin-bottom: 50px;
}
.footer nav ul li a{
  margin: 15px;
  color: 
  #FFFFFF;
}
.footer-box h1{
  margin: 15px;
}
.lorem p{
  text-align: center;
  /* margin-bottom: 20px; */
  color: 
  #FFFFFF;
}
@media screen and (max-width: 767px){
  .footer{
    flex-direction: column;
  }
}
