* {
  margin: 0;

  list-style: none;
}
.head {
  background-color: rgb(117, 167, 43);
}
.pot {
  background-image: url(./843204.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 20rem;
}
ul {
  color: red;
  font-size: 200;
}
#harry {
  color: white;
}
#heading3 {
  color: yellow;
}
p {
  color: blue;
}
table,
th,
td {
  border: 1px solid blue;
  border-collapse: collapse;
  width: 400px;
  height: 50px;
}
.films {
  background-color: aqua;
}
#form {
  background-color: rgb(166, 166, 220);
  margin: 1rem;
  padding: 2rem;
  font-size: 2rem;
}
#form input::placeholder {
  color: red;
}
#imageDiv {
  background-color: pink;
  padding: 2rem;
}
#imagepianist {
  width: 300px;
  height: 150px;
}
#hobbit {
  width: 300px;
  height: 150px;
  opacity: 0.6;
}
#form input {
  border-radius: 10px;
color: teal;
}
#form button {
  border-radius: 10px;
  padding: 5px 20px;
  background-color: aqua;
  border: none;
  color: white;
  cursor: pointer;
}
