/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1 {
  font-size: 58px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container {
    padding: 0 5%;
  }
}

button {
  background-color: #784F33;
  padding: 10px 36px;
  border: none;
  border-radius: 37px;
  color: #fff;
  font-weight: 700;
  max-width: 200px;
}

header {
  padding: 2rem;
}
header .header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-section h3 {
  color: #252B42;
  font-size: 24px;
}
header .header-section nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
header .header-section nav ul li a {
  color: #737373;
  font-size: 14px;
  font-weight: 600;
}
header .header-section .fa-cart-shopping {
  visibility: hidden;
  color: #737373;
  font-weight: 25px;
}
header .header-section .fa-magnifying-glass {
  visibility: hidden;
  color: #737373;
  font-weight: 25px;
}
@media screen and (max-width: 767px) {
  header .header-section .header-section nav ul {
    display: none;
  }
  header .header-section .header-section .fa-cart-shopping {
    display: block;
  }
  header .header-section .header-section .fa-magnifying-glass {
    display: block;
  }
}

section .conten-section {
  display: flex;
  flex-direction: column;
}
section .services {
  width: 50%;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
section .services h1 {
  color: #252B42;
  letter-spacing: 0.2px;
}
section .services h4 {
  color: #737373;
  letter-spacing: 0.2px;
}
section .services .button {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
section .services .button .learn-more {
  background-color: #fff;
  border: 1px solid #784F33;
  color: #784F33;
}
section .section-low {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}
section .section-low .box {
  width: 30%;
  padding: 25px 40px;
  background-color: #fff;
}
section .section-low .box i {
  color: #252B42;
  font-size: 26px;
  padding: 10px 0;
}
section .section-low .box h3 {
  letter-spacing: 0.1px;
  font-weight: 700;
  color: #252B42;
  padding: 10px 0;
}
section .section-low .box p {
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #737373;
}
section .section-low .box:nth-child(3) {
  background-color: #295C7A;
}
@media screen and (max-width: 767px) {
  section .services {
    justify-content: center;
  }
  section .services .button {
    flex-direction: column;
    gap: 10px;
  }
  section .section-low {
    flex-direction: column;
    gap: 20px;
  }
  section .section-low .box {
    width: 80%;
  }
}

#section-two .section-two {
  padding: 4rem 0;
}
#section-two .section-two .text-align {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
#section-two .section-two .text-align h2 {
  color: #252B42;
}
#section-two .section-two .text-align p {
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #737373;
}
#section-two .section-two .card {
  display: flex;
  gap: 30px;
}
#section-two .section-two .card .image {
  width: 25%;
}
#section-two .section-two .card .image img {
  width: 100%;
}

#section-three .section-three {
  padding: 2rem 0;
}
#section-three .section-three .we-are {
  text-align: center;
}
#section-three .section-three .we-are h2 {
  letter-spacing: 0.2px;
  font-weight: 700;
  color: #252B42;
}
#section-three .section-three .we-are p {
  color: #737373;
  letter-spacing: 0.2px;
}
#section-three .section-three .left-right {
  display: flex;
  padding: 2rem;
  -moz-column-gap: 120px;
       column-gap: 120px;
}
#section-three .section-three .left {
  width: 50%;
}
#section-three .section-three .left img {
  width: 100%;
}
#section-three .section-three .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#section-three .section-three .right h2 {
  color: #252B42;
  max-width: 300px;
  letter-spacing: 0.2px;
}
#section-three .section-three .right p {
  max-width: 300px;
  letter-spacing: 0.2px;
  font-size: 14px;
  color: #737373;
}
#section-three .section-three .right .icons {
  display: flex;
  gap: 30px;
}
#section-three .section-three .right .icons i {
  color: #D0A144;
  font-size: 26px;
}
#section-three .section-three .right .icons .quick h5 {
  max-width: 270px;
  color: #252B42;
}
#section-three .section-three .right .icons .quick h6 {
  color: #737373;
}

#section-four .content-section .section-four {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

#section-background {
  background-image: url("./image/background.svg");
  background-position: center;
  background-size: cover;
}/*# sourceMappingURL=main.css.map */