*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
height: 200vh;
}
.black{
    color: green;
}
.apple .black{
    height: 5vh;
    background-color: black;
    position: sticky;
    top: 0;
}
.apple .name{
    height: 30vh;
}