*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    height: 100vh;
}
section{
    background-color: rgb(210, 248, 236);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5.6rem;
}
.address{
    margin: 40px;
}
.address a{
color: green;
}
.address ul a i{
    color: green;
}
.address ul li p{
    margin: 10px;
}
.contact{ 
    border-radius: 5px;
    width: 300px;
    border: 1px solid white;
    background-color: white;
}
.contact h1{
    color: blue;
    text-align: center;
    margin: 10px;
}
form .name input{
    width: 250px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
form .email input{
    width: 250px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
form textarea{
    width: 250px;
    margin: 10px;
    border-radius: 5px;
}
form button{
    width: 300px;
    background-color: green;
    color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: greenyellow;
}
footer{
    height: 30vh;
    background-color: black;
    text-align: center;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row .footer{
    margin: 30px;
}
.footer a i{
    margin: 10px;
}
.footer a {
    color: white;
}
.footer p{
    color: white;
}
