* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  height: 30px;
  background-color: black;
}
body{
    height: 100vh;

}
#section {
  height: 70vh;
}
.section1 {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin: 60px;
  padding: 40px;
}
.section1 .div {
  width: 30%;
  height: 20vh;
  background-color: green;
  border-radius: 5px;
}
.footer{
  width: 90%;
  height: 5vh;
  background-color: pink;
  margin: 50px;
  border-radius: 10px;

}
